.project-download-button {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;

    background-color: #99ee99;
    cursor: pointer;
    border-radius: 3px;
    border: none;
}

.project-download-button:hover {
    background-color: #e0e0e0;
}

