
.task-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    font-size: 1em;

    aspect-ratio: 1.0;
    height: 100%;

    p {
        font-family: monospace, monospace;
        font-size: 0.6em;
        overflow: hidden;
        color: black;
        font-weight: bolder;
    }

    border: none;
    background-color: transparent;
    cursor: pointer;
}