
.task-popup-content {
    height: 35em;
    width: 60em;

    max-width: calc(100% - 50px);
    max-height: calc(100% - 50px);

    position: fixed;
    background-color: white;
    border-radius: 3px;

    overflow: hidden;

    .task-detail {
        display: flex;
        flex-direction: row;

        height: 100%;
        width: 100%;

        .task-information {
            flex-grow: 1;
            padding: 0.5em;

            .task-name-container {
                font-size: 1.25em;
                height: 1.75em;

                input {
                    font-weight: bold;
                }

                width: 100%;
                margin-left: 0;
            }
        }

        .task-depends-editor-container {
            width: 16em;
            max-width: 45%;
            height: 100%;
            padding: 0.25em;
        }
    }
}