
.task-popup-content {
    height: 40em;
    width: 70em;

    max-width: calc(100% - 50px);
    max-height: calc(100% - 50px);

    position: fixed;
    background-color: white;
    border-radius: 3px;

    overflow: hidden;

    .task-detail {
        display: flex;
        flex-direction: row;

        height: 100%;
        width: 100%;

        .task-information {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            padding: 0.75em;

            overflow-y: scroll;
            overflow-x: hidden;

            h2 {
                font-family: Inter, sans-serif;
                font-size: 0.8em;
                font-weight: normal;
                margin-left: 8px;
            }

            .top-row {
                display: flex;
                flex-direction: row;
                margin-left: 8px;

                .task-path-container {
                    flex-grow: 1;
                }

                .task-delete-button-container {

                }
            }


            .task-name-container {
                font-size: 1.25em;
                height: 1.75em;
                margin-bottom: 0.25em;

                input {
                    font-weight: bold;
                    padding: 8px;
                }

                input:hover {
                    background-color: #00000015;
                    border-radius: 3px;
                }

                input:focus {
                    background-color: transparent;
                }

                width: 100%;
                transform: none;
            }

            .task-status-container {
                height: fit-content;
                width: fit-content;
                margin-left: 8px;
                font-size: 1.25em;
                margin-bottom: 1em;
            }

            .task-description-container {
                width: 100%;
                max-width: 100%;
            }
        }

        .task-fields-container {
            display: flex;
            flex-direction: column;
            gap: 1.5em;

            width: 25em;
            max-width: 45%;
            height: 100%;
            padding: 0.75em;

            overflow-y: scroll;
        }

        .task-fields-container {
            -ms-overflow-style: none; /* Internet Explorer 10+ */
            scrollbar-width: none; /* Firefox */
        }

        .task-fields-container::-webkit-scrollbar {
            display: none; /* Safari and Chrome */
        }
    }
}