.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 4em;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 0 10px;

    background-color: #ffffff;
    align-items: center;
    z-index: 100;

    border-bottom: solid #dedede 1px;
}

.header .logo {
    display: flex;
    align-content: center;
    width: 6.5em
}

.header .logo img {
    height: 2.5em;
}

.navbar a {
    position: relative;
    font-size: 1.125em;
    color: #242424;
    font-weight: 500;
    margin-left: 40px;
}

.navbar a:hover {
  text-decoration: underline;
}

/*.navbar a::before {*/
/*    content: '';*/
/*    position: absolute;*/
/*    top: 100%;*/
/*    left: 0;*/
/*    width: 100%;*/
/*    height: 2px;*/
/*    background-color: #ffffff;*/
/*    transition: .3s;*/
/*}*/

/*.navbar a:hover::before {*/
/*    width: 100%;*/
/*}*/
