
.task-list {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

.task-list .list-container {
    display: flex;
    flex-direction: column;
    overflow-x: scroll;
}


.task-list ul {
    list-style-type: none;
    position: sticky;

    li {
        min-width: max-content;
        border-top: solid #dedede 1px;
        border-left: solid #dedede 1px;
        border-right: solid #dedede 1px;
    }

    li:last-child {
        border-bottom: solid #dedede 1px;
    }
}

.task-list .list-container {
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */
}

.task-list .list-container::-webkit-scrollbar, .kanban-board::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
}
