
.task-list {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    flex-grow: 1;

    overflow-y: scroll;
    overflow-x: hidden;

    scrollbar-gutter: stable;

    .tasks .header, .sub-projects .header {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.25em;

        .edit-button, .delete-button {
            display: flex;
            align-items: center;
            justify-content: center;

            border: none;
            background-color: transparent;
            border-radius: 3px;

            aspect-ratio: 1.0;
            height: 1.5em;

            img {
                aspect-ratio: 1.0;
                height: 45%;
            }
        }

        .edit-button:hover, .delete-button:hover {
            background-color: #00000020;
        }
    }

    .list-container {
        display: flex;
        flex-direction: column;
        overflow-x: scroll;
    }

    ul {
        list-style-type: none;

        li {
            min-width: max-content;
            border-top: solid #dedede 1px;
            border-left: solid #dedede 1px;
            border-right: solid #dedede 1px;
        }

        li:last-child {
            border-bottom: solid #dedede 1px;
        }
    }

    .list-container {
        -ms-overflow-style: none; /* Internet Explorer 10+ */
        scrollbar-width: none; /* Firefox */
    }

    .list-container::-webkit-scrollbar {
        display: none; /* Safari and Chrome */
    }

    .list-container::-webkit-scrollbar-track {
        background: transparent;
    }
}

.task-list {
    scrollbar-color: rgba(0, 0, 0, 0.2) transparent;
}

/* Make the scrollbar background transparent */
.task-list::-webkit-scrollbar-track {
    background-color: transparent; /* Ensure the track is transparent */
}

