
.task-list {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

.task-list ul {
    list-style-type: none;
    overflow-x: hidden;

    border: solid #dedede 1px;

    li:not(:last-child){
        border-bottom: solid #dedede 1px;
    }
}