
.task-fields {
    display: flex;
    flex-direction: column;
    gap: 0.5em;

    .task-field-header {
        width: 10em;
    }

    .row {
        display: flex;
        flex-direction: row;
        align-items: center;

        width: 100%;
        height: 1.25em;
        gap: 0.5em;
    }

    .number-editor {
        margin-left: -2px;
    }

    .simple-date-picker {
        margin-left: -0.5em;
    }

    .task-person-in-charge-picker {
        margin-left: -0.5em;
        padding: 0 0.5em;
        width: 5em;
    }
}