.language-selector {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 0.5em;
}

.language-selector select {
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1.2rem;
    border: 0.1rem solid #003366;
    border-radius: 50%;
    text-align: center;
    background-color: #fff;
    color: #003366;
    appearance: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-sizing: border-box;
}