
.task-depends-editor {
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 100%;
    gap: 0.5em;

    .task-depends-editor-header {
        white-space: nowrap;
        color: black;
    }

    .task-depends-editor-row {
        display: flex;
        flex-direction: row;
        align-items: center;

        height: 2em;
        padding: 0.25em 0;
        gap: 0.5em;

        border-radius: 3px;

        .task-name {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            flex-grow: 1;
        }

        .minus-button, .plus-button {
            display: flex;
            align-items: center;
            justify-content: center;
            background: none;

            height: 100%;
            border-radius: 3px;
            aspect-ratio: 1.0;
            border: none;

            img {
                aspect-ratio: 1.0;
                height: 40%;
            }
        }

        button:hover {
            background-color: #00000020;
        }
    }
}
