
.popup {
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup .popup-background {
    display: flex;
    align-items: center;
    justify-content: center;

    position: fixed;
    width: 100vw;
    height: 100vh;

    top: 0;
    left: 0;

    background: #00000020;
    z-index: 2;
}

.popup .popup-background.clear {
    background: transparent;
}