
.gantt-chart {
    overflow-y: scroll;
    scrollbar-color: rgba(0, 0, 0, 0.2) transparent;
}

/* Make the scrollbar background transparent */
.gantt-chart::-webkit-scrollbar-track {
    background-color: transparent; /* Ensure the track is transparent */
}
