.calendar-container {
    width: 100%;
    height: auto;
    overflow-y: auto;
    overflow-x: hidden;
    box-sizing: border-box;
}

.calendar-container .calendar-grid {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 1px;
    background-color: #eeeeee;
    width: 100%;
    position: relative;
    border: 1px solid #ccc;
    height: auto;
    grid-auto-rows: 1fr;
}

.calendar-weekdays {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
    background-color: #f9f9f9;
    border-bottom: 1px solid #ddd;
    font-weight: bold;
    color: #555;
    font-size: 0.9rem;
    padding: 0.5rem 0;
    box-sizing: border-box;
}

.calendar-container .calendar-grid .day-box {
    position: relative;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0.5rem;
    box-sizing: border-box;
    height: 9rem;
    overflow: hidden;
    text-overflow: ellipsis;
}

.calendar-container .calendar-grid .day-box .day-num {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    font-size: 14px;
    font-weight: bold;
    color: #333;
    background-color: transparent;
    transition: background-color 0.3s ease, color 0.3s ease;
    margin-bottom: 0.1rem;
}

.calendar-container .calendar-grid .day-box .day-num.today {
    background-color: #003366;
    color: white;
}

.calendar-container .calendar-grid .day-box .event-list {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    width: 100%;
    cursor: pointer;
    border-radius: 6px;
    flex-grow: 1;
    overflow-y: auto;
}

.calendar-container .calendar-grid .day-box .event-list .event-block {
    border-radius: 4px;
    color: white;
    font-size: 0.8rem;
    font-weight: bold;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    height: 1.4rem;
    text-align: left;
    display: flex;
    align-items: center;
    width: 100%;
    border: none;
    cursor: pointer;
}

.calendar-container .calendar-grid .day-box .event-list .event-block .event-block:hover {
    filter: brightness(1.1);
    transition: filter 0.2s ease;
}

.calendar-container .calendar-grid .day-box .event-list .more-events {
    font-size: 0.8rem;
    font-weight: bold;
    color: #555;
    background-color: transparent;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    text-align: left;
    padding: 0.3rem 0.5rem;
    width: 100%;
    height: 1.4rem;
}

.calendar-container .calendar-grid .day-box .event-list .more-events:hover {
    background-color: #e0e0e0;
}