
.project-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 2.25em;
    padding: 0 0.6em;
    gap: 0.3em;

    font-size: 1em;
    color: black;

    .project-id {
        width: 2.25em;
        min-width: 2.25em;

        p {
            font-family: monospace, monospace;
            font-size: 0.8em;
        }

        p:hover {
            text-decoration: underline;
            cursor: pointer;
        }
    }

    .project-name-container {
        width: 16em;
        min-width: 16em;
        height: 100%;
    }

    .project-status-container {
        width: 5em;
        height: 60%;
    }

    .project-status-container {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
    }
}