/*PROJECT ROW*/
.project-row, .project-row-header {
    display: flex;
    flex-direction: row;
    padding: 0 0.6em;
    gap: 0.3em;

    font-size: 1em;
}

.project-row {
    align-items: center;
    height: 2.25em;

    color: black;

    p {
        font-family: Inter, sans-serif;
        font-size: 1em;
    }
}

/*PROJECT ROW HEADER*/
.project-row-header {
    font-size: 1em;
    margin: 0 1px;

    p {
        overflow: hidden;
        white-space: nowrap;
        color: black;
    }

    .header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;

        .header-button {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            gap: 0.15em;
            cursor: pointer;

            img {
                height: 0.6em;
                width: 0.6em;
                aspect-ratio: 1.0;
            }
        }
    }
}

/*PROJECT ID*/
.project-row .project-id, .project-row-header .project-id-header {
    width: 2.25em;
    min-width: 2.25em;
}

.project-row .project-id {
    p {
        font-family: monospace, monospace;
        font-size: 0.8em;
        color: black;
    }

    p:hover {
        text-decoration: underline;
        cursor: pointer;
    }
}


/*PROJECT NAME*/
.project-row .project-name-container, .project-row-header .project-name-header {
    width: 16em;
    min-width: 16em;
    height: 100%;
}


/*PROJECT STATUS*/
.project-row .project-status-container, .project-row-header .project-status-header {
    width: 5em;
    height: 60%;
}

.project-row .project-status-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

/* START AND COMPLETION DATE */
.project-row .project-start-date, .project-row-header .project-start-date-header,
.project-row .project-due-date, .project-row-header .project-due-date-header {
    width: 6em;
    height: 60%;
}