.event-popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.event-popup-overlay .event-popup {
    background: #f9fbfe;
    border-radius: 16px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 16px;
    width: 500px;
    display: flex;
    flex-direction: column;
}

.event-popup-overlay .header-top {
    display: flex;
    gap: 20px;
    max-width: 100%;
    overflow-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.event-popup-overlay .header-top .event-details .event-title {
    font-size: 16px;
    font-weight: bold;
    color: #333;
    margin: 0;
    line-height: 1.5;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.event-popup-overlay .event-date {
    font-size: 14px;
    color: #555;
    margin-top: 4px;
    margin-bottom: 16px;
}

.event-popup-overlay .event-actions {
    display: flex;
    gap: 8px;
    margin-left: auto;
}

.event-popup-overlay .event-popup .icon-button {
    position: relative;
    background: transparent;
    border: none;
    cursor: pointer;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #555;
    border-radius: 50%;
    transition: background 0.3s ease, color 0.3s ease;
}

.event-popup-overlay .icon-button:hover {
    background: #f0f0f0;
    color: #2196f3;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.event-popup-overlay .event-popup-body {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.event-popup-overlay .share-button {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    padding: 6px 12px;
    border: 1px solid #003366;
    border-radius: 20px;
    background: #ffffff;
    color: #242424;
    font-size: 14px;
    cursor: pointer;
    transition: background 0.3s ease;
    width: 7.5rem
}

.event-popup-overlay .share-button:hover {
    background: rgba(33, 150, 243, 0.1);
}

.event-popup-overlay .event-note {
    display: flex;
    gap: 10px;
    align-items: flex-start;
    font-family: Arial, sans-serif;
    font-size: 16px;
}

.event-popup-overlay .event-note img {
    width: 20px;
}

.event-popup-overlay .event- {
    display: flex;
    gap: 10px;
    align-items: flex-start;
    font-family: Arial, sans-serif;
    font-size: 16px;
}

.event-popup-overlay .event-popup-subheader {
    align-items: flex-start;
    gap: 20px;
    display: flex;
}
