
.task-popup-content {
    height: 35em;
    width: 60em;

    max-width: calc(100% - 50px);
    max-height: calc(100% - 50px);

    position: fixed;
    background-color: white;
    border-radius: 3px;

    .task-detail {
        display: flex;
        flex-direction: column;
    }
}