
/*TASK ROW*/
.task-row, .task-row-header {
    display: flex;
    flex-direction: row;
    min-width: max-content;

    padding: 0 0.6em;
    gap: 0.3em;
}

.task-row {
    align-items: center;
    height: 2.25em;

    color: black;

    p {
        font-family: Inter, sans-serif;
        font-size: 1em;
    }
}

.task-row-header {
    font-size: 1em;
    margin: 0 1px;

    p {
        font-family: Inter, sans-serif;
        font-size: 0.8em;
        overflow: hidden;
        white-space: nowrap;
        color: black;
    }
}


/*TASK ID*/
.task-row .task-id, .task-row-header .task-id-header {
    width: 2.25em;
    min-width: 2.25em;
}

.task-row .task-id p {
    font-family: monospace, monospace;
    font-size: 0.8em;
}

/*TASK NAME*/
.task-row .task-name, .task-row-header .task-name-header {
    width: 16em;
}

.task-row .task-name p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/*TASK STATUS*/
.task-row .task-status-container, .task-row-header .task-status-header {
    width: 7em;
    height: 60%;
}

.task-row .task-status-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

/* TASK DEPENDS LIST */
.task-row .task-depends-list-container, .task-row-header .task-depends-list-header {
    width: 7.5em;
}
.task-row .task-depends-list-container {
    height: 60%;
}

/* START AND COMPLETION DATE */
.task-row .task-start-date, .task-row-header .task-start-date-header,
.task-row .task-end-date, .task-row-header .task-end-date-header {
    width: 6em;
    height: 60%;
}

