
.task-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 2em;
    padding: 0 1em;
    gap: 20px;

    font-size: 1em;
    color: black
}

.task-row .task-id {

}

.task-row .task-name {

}