.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--navbar-height);

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0 10px;

    background-color: #ffffff;
    border-bottom: solid #dedede 1px;
}

.navbar .left {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    gap: 40px;
    flex-grow: 1;
}

.navbar .right {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;

    gap: 20px;
}

.navbar .logo {
    display: flex;
    align-content: center;
    width: 7.8em
}

.navbar .logo img {
    height: 3em;
}

.navbar a {
    font-size: 1.125em;
    color: #242424;
    font-weight: 500;

    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar a:hover {
  text-decoration: underline;
}

.profile-icon img {
    width: 32px;
    height: 32px;
}

.profile-icon a {
    display: block;
}
