
.task-description {

    .description {
        width: 100%;

        padding: 8px;
        border: none;

        font-family: Inter, sans-serif;
        font-size: 0.9em;
        background: transparent;
    }

    .description.placeholder:empty:before {
        content: attr(aria-placeholder);
        color: #aaa;
        pointer-events: none; /* Prevents clicking on the placeholder text */
    }
}