.button {
    background-color: #0A3254;
    border-radius: 10px;
    padding: 20px;
    font-size: medium;
}

.popup {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
    overflow-y: auto;
    position: fixed;
    inset: 0;
    z-index: 100;
}

.container {
    background-color: azure;
    box-shadow: 2px 2px 2px #ABABAB;
    width: 50%;
    min-width: 400px;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid #E5E6E9;
}

.popup-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
    border-bottom: 1px solid #e2e8f0;
}

.close-button {
    background-color: #E5E6E9;
    border-radius: 5px;
    color: #4a5568;
    font-size: large;
    font-weight: bold;
    padding: 5px;
}

.form {
    padding: 6px;
}

.label {
    letter-spacing: 0.05em;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 1.25rem;
    font-size: 12px;
}

.input-field {
    width: 100%;
    background-color: #E5E6E9;
    border: 1px solid #E5E6E9;
    border-radius: 3px;
    color: #4a5568;
    padding: 10px;
    margin-bottom: 1.25rem;
    line-height: 1.25;
}

.input-field:focus {
    outline: none;
    background-color: white;
}

.popup-footer {
    display: flex;
    justify-items: end;
    border-top: 1px solid #e2e8f0;
    padding: 1.5rem;
}