.evm {
    padding: 5%;
    font-family: Arial, sans-serif;
    overflow-y: auto;
}

.chart-container {
    height: 100%;
    overflow-y: auto;
    margin-bottom: 5%;
    border: 1px solid #ccc;
    padding: 5%;
    background-color: #fff;
}

.table-container {
    overflow-x: auto;
}

.evm-metrics-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 5%;
}

.evm-metrics-table th,
.evm-metrics-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.evm-metrics-table th {
    background-color: #f2f2f2;
    font-weight: bold;
}
