.task-form-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #00000010;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.task-form-overlay .task-form-content {
    background: #fff;
    border-radius: 12px;
    width: 360px;
    max-width: 90%;
    padding: 1rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.task-form-overlay .task-form-content .task-form-header .close-button {
    background: none;
    border: none;
    font-size: 19px;
    cursor: pointer;
    color: #333;
    position: relative;
    top: -20px;
    left: 5px;
}

.task-form-overlay .task-form-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task-form-overlay .task-detail {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.task-form-overlay .task-form-footer {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
}

.task-form-overlay .task-save-button {
    background: #0047ab;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
}

.task-form-overlay .task-save-button:hover {
    background: #0055cc;
}

.task-form-overlay .task-name-container {
    margin-bottom: 1rem;
}

.task-form-overlay .task-title-input {
    width: 100%;
    border: none;
    border-bottom: 1px solid #ddd;
    outline: none;
}



