
.task-depends-list {
    display: flex;
    flex-direction: row;
    height: 100%;
    gap: 4px;
}

/* TASK ICON */
.task-depends-list .task-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;

    aspect-ratio: 1.0;
    height: 100%;

    p {
        font-family: monospace, monospace;
        font-size: 0.6em;
        overflow: hidden;
        color: black;
        font-weight: bolder;
    }
}

/* ADD DEPENDENCY BUTTON */
.task-depends-list .add-dependency-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;

    aspect-ratio: 1.0;
    height: 100%;

    border: none;
    background-color: transparent;

    img {
        width: 40%;
        height: 40%;
        aspect-ratio: 1.0;
    }
}

.task-depends-list .add-dependency-button:hover {
    background-color: #00000020;
}