
.dropdown-date-picker-content button {
    border-radius: 0;
    border: none;
    padding: 0;
    height: 100%;

    background-color: white;
}

.dropdown-date-picker-content button:hover {
    background-color: #00000020;
}

.date-picker-calendar {
    display: flex;
    flex-direction: column;
    padding: 0.25em;
}

.date-picker-calendar .month-selector {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.25em;

    width: 100%;
    padding: 0 0.2em;

    p {
        flex-grow: 1;
        text-align: center;
        font-size: 1em;
    }

    button {
        display: flex;
        align-items: center;
        justify-content: center;

        aspect-ratio: 1.0;
        border-radius: 3px;
        height: 1.2em;

        img {
            height: 0.65em;
        }
    }
}

.date-picker-calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    background-color: white;
    width: 14em;
}

.date-picker-calendar-grid .weekday, .date-picker-calendar-grid .day-cell {
    text-align: center;
    color: #555;
    width: 2em;
    height: 1.3em;
}

.date-picker-calendar-grid .weekday p {
    font-weight: bold;
    font-size: 0.8em;
}

.date-picker-calendar-grid .day-cell {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1px;
}

.date-picker-calendar-grid .other-month p {
    color: #bbb;
}

.date-picker-calendar-grid .day-cell p {
    font-family: monospace, monospace;
    font-size: 0.75em;
}

.date-picker-calendar-grid .day-cell .day-number {
    aspect-ratio: 1.0;
    border-radius: 99px;
    text-align: center;

    font-size: 1em;
}

.date-picker-calendar-grid .day-cell .today {
    background-color: #00000020;
}

.date-picker-calendar-grid .day-cell .selected {
    background-color: #003366;
    color: white;
}

.date-picker-calendar-grid .day-cell .day-number:disabled {
    background-color: transparent !important;
    cursor: default;
}

.date-picker-calendar-grid .day-cell .day-number:disabled p {
    color: #bbb;
}

.date-picker-calendar-grid .day-cell .day-number.selected:disabled {
    background-color: #003366 !important;
    color: white !important;
}