.kanban {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    flex-grow: 1;

    gap: 16px;
}

.kanban-board {
    display: flex;
    flex-direction: row;
    flex-grow: 1;

    gap: 16px;
    overflow-x: auto;
    overflow-y: hidden;
}

.kanban-column {
    display: flex;
    flex-direction: column;

    width: 16em;
    min-width: 16em;
    background-color: #f8f9fa;
    border-radius: 8px;

    overflow-y: auto;
}

.column-header {
    text-align: left;
    font-size: 0.8em;
    margin: 10px 10px 5px 10px;
    color: #6b6b6b;
}

.task-container {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    flex-grow: 1;

    padding: 5px 5px 0 5px;

    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}

.task-container, .kanban-board {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}

.task-container::-webkit-scrollbar, .kanban-board::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
}
