
.task-date-picker {
    border: none;
    background: transparent;
    height: 100%;

    border-radius: 3px;
    padding: 2px 5px;
    margin-left: -4px;
    font-size: 1em;

    p {
        font-family: Inter, sans-serif;
        text-align: center;
        width: 4.75em;
        font-size: 0.8em;
    }
}


.task-date-picker:hover {
    background-color: #00000020;
}