
.project-path .sub-project-row {
    text-align: left;
    padding: 0.2em 0.5em;
    width: 12em;
}

.project-path button:hover {
    background-color: transparent;
    text-decoration: underline;
}

.project-path button {
    cursor: pointer;
    background-color: transparent;
    border: none;
}