.summary-container {
    overflow-y: scroll;

    .evm-summary {
        margin-top: 1em;
        height: 25em;
        width: 100%;

        overflow-x: scroll;
    }
}

.summary-container {
    scrollbar-color: rgba(0, 0, 0, 0.2) transparent;
}

/* Make the scrollbar background transparent */
.summary-container::-webkit-scrollbar-track {
    background-color: transparent; /* Ensure the track is transparent */
}

.summary-container .cpm-summary {
    margin-top: 1em;
    width: 50%;
    height: 50%;
}
