
.project-dashboard {
    padding: 1rem 2rem;
}

.project-dashboard ul {
    list-style-type: none;
    position: sticky;

    li {
        min-width: max-content;
        border-top: solid #dedede 1px;
        border-left: solid #dedede 1px;
        border-right: solid #dedede 1px;
    }

    li:last-child {
        border-bottom: solid #dedede 1px;
    }
}