.profile-dropdown {
    .dropdown-item {
        display: block;
        padding: 0.5rem 1rem;
        width: 5.5rem;
        font-size: 1rem;

        cursor: pointer;
        text-align: center;

        border: none;
        background-color: transparent;
        color: #242424;
    }

    .dropdown-item:hover {
        background-color: #00000020;
    }
}