.task-card {
    display: flex;
    flex-direction: column;
    justify-items: start;
    justify-content: start;

    padding: 10px;

    background-color: white;
    border-radius: 6px;
    border: 1px solid #dedede;

    margin-bottom: 5px;
}

.task-card .task-header {
    display: flex;
    flex-direction: row;
    gap: 10px;

    font-size: 0.9em;
    color: black;
}
