
.evm-component.row {
    flex-direction: row;
}

.evm-component.column {
    flex-direction: column;
}

.evm-component {
    display: flex;
    height: 100%;
    width: 100%;

    gap: 1em;

    font-family: Arial, sans-serif;

    .chart-container {
        border: 1px solid #ccc;
        background-color: #fff;

        max-width: 100%;
        max-height: 95%;
        aspect-ratio: 1.66;
    }

    .error-message {
        color: red;
        font-style: italic;
    }
}
