
.evm-component {
    display: flex;
    height: 100%;
    width: 100%;

    gap: 1em;

    font-family: Arial, sans-serif;

    .chart-container {
        border: 1px solid #ccc;
        background-color: #fff;

        max-width: 100%;
        max-height: 95%;
        aspect-ratio: 1.5;
    }

    .table-container {
        min-height: fit-content;
        max-height: 95%;

        width: fit-content;
        min-width: fit-content;
    }

    .error-message {
        color: red;
        font-style: italic;
    }
}

.evm-component.row {
    flex-direction: row;

    .table-container {
        min-height: 0 !important;
    }

    .chart-container, .table-container {
        max-height: 100%;
        min-height: 100%;
    }

    .table-container {
        overflow-y: scroll;
    }
}

.evm-component.column {
    flex-direction: column;

    .table-container {
        min-width: 0;
        width: fit-content;
        max-width: 100%;
    }
}