
.task-person-in-charge-picker {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;
    aspect-ratio: 1.0;

    font-size: 0.8em;
    cursor: pointer;

    border-radius: 999px;
    border: none;
    background-color: transparent;
}

.task-person-in-charge-picker:hover {
    background-color: #00000020;
}

.task-person-in-charge-picker-content {
    overflow-y: scroll;

    width: 18em;
    height: 20em;

    .task-person-in-charge-picker-row {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;

        font-size: 1em;
        width: 100%;
        height: fit-content;

        border: none;
        background: none;

        p {
            padding: 0.5em;
        }
    }

    .task-person-in-charge-picker-row:hover {
        background: #00000020;
    }
}

.task-person-in-charge-picker-content {
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */
}

.task-person-in-charge-picker-content::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
}
