.language-selector {
    position: relative;
    cursor: pointer;
}

.language-selector .language-dropdown {
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1.2rem;
    border: 0.1rem solid #003366;
    border-radius: 50%;
    text-align: center;
    background-color: #fff;
    color: #003366;
    appearance: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-sizing: border-box;
}

.language-selector .dropdown-menu {
    position: absolute;
    top: 100%;
    right: 0;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    z-index: 1;
    min-width: 1rem;
}

.language-selector .dropdown-item {
    padding: 10px;
    cursor: pointer;
    text-align: center;
}

.language-selector .dropdown-item:hover {
    background-color: #f0f0f0;
}
